POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=lego_collection
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/lego_collection?schema=public
REDIS_HOST=localhost
REDIS_PORT=6379
